.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main {
    flex: 0 0 70%;
    /* Занимает 70% ширины */
}

.TrackInfo {
    flex: 0 0 30%;
    /* Занимает 30% ширины */
}

/* Адаптивная верстка для маленьких экранов */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main,
    .TrackInfo {
        flex: 0 0 100%;
        /* На маленьких экранах каждый элемент занимает 100% ширины */
    }
}