@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

:root {
  --background-color: #3f3f3f;
  /* Dark background for better contrast */
  --container-bg: #c2b280;
  /* Light wood background */
  --text-color: #2d2d2d;
  /* Dark text color for readability */
  --border-color: #8b5b29;
  /* Wood border color */
  --highlight-color: #d4a373;
  /* Highlight color for elements */
  --button-bg: #8b5b29;
  /* Button background color */
  --button-hover-bg: #d4a373;
  /* Button hover color */
  --avatar-shadow: rgba(0, 0, 0, 0.5);
  /* Shadow for avatar */
}

body {
  font-family: 'Cinzel', serif;
  background-color: var(--background-color);
  color: #e0c097;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100% - (var(--header-height) + var(--footer-height)));
  padding: 20px;
  overflow-y: auto;
}

.App {
  max-width: 90%;
  margin: 0 auto;
  background-color: var(--container-bg);
  border: 2px solid var(--border-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

@media (min-width: 1024px) {
  .App {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .App {
    width: 100%;
    padding: 10px;
  }
}