

.profilePage {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Центрируем контент по вертикали */
    padding: 40px;
}

.profileContent {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profileHeader {
    text-align: center;
    margin-bottom: 20px;
}

.profileHeader h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.button,
.saveButton {
    width: 100%;
    padding: 12px;
    background-color: #4BB8A9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button:hover,
.saveButton:hover {
    background-color: #3a9781;
}

.inputGroup {
    margin-bottom: 20px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 8px;
}

input:focus {
    border-color: #4BB8A9;
    outline: none;
}

