.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a202c;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-top: 1px solid #2e2b29;
    z-index: 1000;
}